[init]
  defaultBranch = main
[push]
  default = current

[color]
  ui = auto

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[color "diff"]
  meta = yellow
  frag = magenta
  commit = yellow
  old = red
  new = green
  whitespace = red reverse

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[alias]
  a = add
  aa = add --all
  ap = add --patch
  branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes
  ci = commit -v
  co = checkout
  nb = checkout -b
  st = status

  d = diff
  dc = diff --cached
  discard = reset --hard HEAD

  last = diff HEAD^

  log = log --graph --date=short

  pl = pull
  ps = push

[core]
  excludesfile = ~/.gitignore
  autocrlf = input
[merge]
  ff = only
[fetch]
  prune = true
[rebase]
  autosquash = true
[diff]
  colorMoved = zebra
[pull]
  rebase = true
