!TAGS/
!tags/
.bundle
.byebug_history
.cache
.DS_Store
.env
.git/
.hg
.netrwhist
.pnp.cjs
.sass-cache
.Spotlight-V100
.svn
.tags
.tags1
.Trashes
.yarn
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.diff
*.err
*.log
*.orig
*.pyc
*.sw[nop]
*.swp
*.un~
*~
/.nyc_output/
/bower_components
/log
/node_modules
/npm-debug.log
/tags
/tmp
/vendor
cscope.files
cscope.in.out
cscope.out
cscope.po.out
*/*.sqlite3
Desktop.ini
GPATH
GRTAGS
GTAGS
gtags.files
*/*.log
rerun.txt
Session.vim
TAGS
tags
Thumbs.db
tmp/**/*
yarn.lock
